@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
/* NAVBAR MENU */
.navbar {
  text-decoration: none;
  background-color: cyan;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
@media (max-width: 850px) {
  .navbar {
    display: none;
  }
}
.navbar a:hover,
.navbar .active {
  color: darkorange;
}
.navbar .active {
  text-decoration: underline;
  text-underline-offset: 1.3vh;
  text-decoration-thickness: 2px;
}
.navbar-content {
  text-decoration: none;
  background-color: none;
  color: black;
  padding: 2vh 2vw 2vh 2vw;
  font-size: 18px;
  margin-bottom: auto;
  margin-top: auto;
}
/* ---------- */
/* DROPDOWN MENU */
.dropbtn {
  font-family: 'Roboto', sans-serif;
}
#dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
@media (min-width: 851px) {
  #dropdown {
    display: none;
  }
}
#dropbtn {
  background-color: aqua;
  color: black;
  padding: 16px 40px 16px 40px;
  width: 100%;
  font-size: 16px;
  border: none;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px #181818;
  z-index: 1;
}
#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#dropdown-content a:hover {
  background-color: #ddd;
  box-shadow: 6px 0px 6px 0px grey;
}
/* ---------- */
.pagehead {
  font-size: 27px;
}
@media (min-width: 851px) {
  .pagehead * {
    margin-top: 75px;
  }
}
@media (max-width: 850px) {
  .pagehead * {
    margin-top: none;
  }
}
#ind-song-head {
  font-size: 25px;
}
.abouthead {
  font-size: 30px;
}
@media (min-width: 851px) {
  #frontPic {
    width: 60vw;
  }
}
@media (max-width: 850px) {
  #frontPic {
    width: 90%;
  }
}
.browsecontent {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  .browsecontent {
    flex-direction: column;
  }
}
.buttonlink {
  padding: 10px;
  border: 3px solid;
  border-radius: 7px;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
  color: gold;
}
@media (max-width: 850px) {
  .buttonlink {
    width: 90%;
  }
}
.buttonlink:hover {
  background-color: gold;
  color: darkred;
  border: 3px solid gold;
}
#ind-prevs-mobile {
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  #ind-prevs-mobile {
    display: none;
  }
}
#ind-prevs-desktop {
  width: 90vw;
  margin: 0px auto;
}
@media (max-width: 850px) {
  #ind-prevs-desktop {
    display: none;
  }
}
.ind-prev {
  width: 30vw;
  float: left;
}
@media (max-width: 850px) {
  .ind-prev {
    width: 100%;
  }
}
.sec {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
@media (max-width: 850px) {
  .sec {
    flex-direction: column;
  }
}
@media (min-width: 851px) {
  .profilepicdiv {
    width: 50%;
  }
  .profilepicdiv img {
    width: 50vw;
  }
}
@media (max-width: 850px) {
  .profilepicdiv {
    width: 100%;
  }
  .profilepicdiv img {
    width: 90%;
  }
}
.profiles {
  display: flex;
  margin: 10px;
}
@media (max-width: 850px) {
  .profiles {
    flex-direction: column;
    align-items: center;
  }
}
.about {
  margin-top: 0px;
  font-size: 21px;
}
@media (min-width: 851px) {
  .about {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 850px) {
  .about {
    margin: 10px;
  }
}
.about p {
  margin-top: 0px;
}
#front-about {
  font-size: 21px;
}
@media (min-width: 851px) {
  #front-about {
    margin-left: 125px;
    margin-right: 125px;
  }
}
@media (max-width: 850px) {
  #front-about {
    margin: 10px;
  }
}
.song {
  height: 40vh;
}
@media (min-width: 851px) {
  .song {
    width: 40vw;
  }
}
@media (max-width: 850px) {
  .song {
    width: 80%;
  }
}
@media (min-width: 851px) {
  .recital {
    width: 70%;
    height: 70vh;
  }
}
@media (max-width: 850px) {
  .recital {
    width: 80%;
    height: 50vh;
  }
}
.songDiv {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 10vh;
}
#origin-container {
  text-align: left;
  padding: 0px 15vw 0px 15vw;
}
@media (max-width: 850px) {
  #origin-container {
    padding: 0px 5vw 0px 5vw;
  }
}
.input-field {
  width: 50%;
}
@media (max-width: 850px) {
  .input-field {
    width: 80%;
  }
}
.input-field-special {
  width: 20%;
}
@media (max-width: 850px) {
  .input-field-special {
    width: 35%;
  }
}
